<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-pet" >
	<tr>
		<td>
			<f:translate key="tx_pet_domain_model_pet.name" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pet_domain_model_pet.teaser" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pet_domain_model_pet.description" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pet_domain_model_pet.media" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pet_domain_model_pet.weight" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pet_domain_model_pet.cuteness" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pet_domain_model_pet.easy_to_handle" />
		</td>
		<td>
		</td>
	</tr>
</table>
</html>